<ion-header>
  <ion-toolbar>
    <ion-title align="center">Questionnaire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


<ion-list>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>1. Vous êtes :</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Homme</ion-label>
      <ion-radio slot="start" value="Homme" checked="false"></ion-radio>
    </ion-item>
	
	<ion-item>
      <ion-label>Femme</ion-label>
      <ion-radio slot="start" value="Femme" checked="false"></ion-radio>
    </ion-item>
	
	<ion-list-header>	
		<ion-label>2. Vous avez :</ion-label>
	</ion-list-header>	
	
	
	</ion-radio-group>
</ion-list>


</ion-content>
